  body {
    margin: 0;
    padding: 0;
}
.btn-0 {
    border: 0;
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #1464f4;
    padding: 15px 20px ;
    border-radius: 0;
    margin-left: 30px;
}
.btn-0::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

  .btn-0:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

  .btn-0::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #fff;
    z-index: -1;
    transition: transform .3s ease;
}
  .btn-0:hover {
    color: #1464f4;
}
  .menu {
    text-transform: uppercase;
    color: rgba(15, 13, 13, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: relative;
    width: 100%;
}
  .menu:hover {
    pointer-events: all;
}
  .label {
    float:right;
    cursor: pointer;
    pointer-events: all;
    border: 1px solid #1464f4;
    padding: 5px 10px;
}
  .spacer {
   float: right;
    width: 80px;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    left: 0;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
  .spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid black;
    height: 1px;
    width: 0%;
    right: 0;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}
  .item {
    position: relative;
    float: right;
    margin-top: 6px;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
}
.item a{
    text-decoration: none;
}
  span {
    transition: color 0.5s ease;
}
  .item:hover a {
    color: #ff0000;
}
  .menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}
  .menu:hover .item {
    opacity: 1;
    top: 0px;
}
  .item:nth-child(1) {
    transition-delay: 0.45s;
 }
  .item:nth-child(2) {
    transition-delay: 0.4s;
}
  .item:nth-child(3) {
    transition-delay: 0.35s;
}
  .item:nth-child(4) {
    transition-delay: 0.3s;
}
.item:nth-child(5) {
transition-delay: 0.25s;
}
.item:nth-child(6) {
transition-delay: 0.2s;
}
.item:nth-child(7) {
transition-delay: 0.15s;
}
.item:nth-child(8) {
transition-delay: 0.1s;
}
.item:nth-child(9) {
transition-delay: 0.05s;
}
.item:nth-child(10) {
transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
transition-delay: 0.7s;
}
li a{
    color: #000;
}
/* #img_body{
    top: 10px;
    position:sticky;
} */
.video_vin{
    top: 10px;
    position: sticky;
}
.product {
    margin-left: auto;
    margin-right: auto;
}
.btn_product {
    padding: 10px 126px;
    background-color: #1464f4;
}
.btn_product a {
    color:black;
    font-weight: bold;
}
.btn_product:hover {
    background-color: white;

}
.btn_product:hover a {
    text-decoration: none;
    color: black;
}

.txt_logan {
    font-size: 20px;
}
.txt_body{
    color: transparent;
background: #fffafa;
-webkit-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
.swiper {
  width: 100%;
  height: 100%;
}
.Pro_car{
    margin-top: 30px !important;
    border-radius: 25px;
    background: #CE5937;
background: -moz-linear-gradient(-45deg, #CE5937 0%, #1C6EA4 0%, #C5C5C5 100%);
background: -webkit-linear-gradient(-45deg, #CE5937 0%, #1C6EA4 0%, #C5C5C5 100%);
background: linear-gradient(135deg, #CE5937 0%, #1C6EA4 0%, #C5C5C5 100%);
}
.btn_all{
    padding: 10px 120px;
    background-color: #fff;
    border-radius: 25px;
}
.pro_acc{
    background: #604FCE;
    background: -moz-linear-gradient(45deg, #604FCE 0%, #1C6EA4 50%, #857EC5 100%);
    background: -webkit-linear-gradient(45deg, #604FCE 0%, #1C6EA4 50%, #857EC5 100%);
    background: linear-gradient(45deg, #604FCE 0%, #1C6EA4 50%, #857EC5 100%);
    border-radius: 25px;
    margin-top: 65px !important;
}
.title{
    color: transparent;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
font-size: 50px;
font-weight: bolder;
}

